@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;700;900&display=swap");
:root {
  --bg: hsl(0, 0%, 100%);
  --color: hsla(0, 0%, 0%, 0.1);
  --underline-width: 1lh;
  --underline-block-width: 200vmax;
  --underline-color: hsl(0 0% 50% / 0.05);
  --underline-transition: 5s;
  --finish-fill: hsl(0 0% 100%);
  --accent: #1e1e1e;
  --fill: #18624c;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Darker Grotesque", sans-serif;
}

.navbar-container {
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
}

.tbank-logo {
  display: flex;
  align-items: center;
  color: white;
}

.nav-button {
  display: flex;
}

.main-logo {
  font-weight: 700;
  font-size: 30px;
  margin-right: 10px;
}

.nav-links span {
  font-weight: 500;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
.nav-links span:hover {
  color: #34c99d;
  transition: 0.5s;
}

.nav-button {
  display: flex;
  align-items: center;
}
.customer-support {
  font-weight: 500;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
.customer-support:hover {
  color: #34c99d;
  transition: 0.5s;
}

.login-button {
  background-color: black;
  border: 1px solid white;
  padding: 15px 30px;
  border-radius: 30px;

  font-size: 15px;
  cursor: pointer;
  color: white;
  line-height: 0px;
  padding-bottom: 18px;
}
.login-button:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

.main-section {
  padding-top: 100px;
  padding-bottom: 90px;
  background-color: black;
}
.main {
  display: flex;
  padding: 50px;
  justify-content: space-around;
}

.main-title {
  font-size: 50px;
  font-weight: 700;
  max-width: 400px;
  line-height: 80px;
  color: white;
}

.financial {
  background-color: #18624c;
  line-height: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.sub-title {
  font-size: 20px;
  font-weight: 700;
  max-width: 300px;
  line-height: 30px;
  margin-top: 15px;
  color: rgb(216, 213, 213);
}

.start-button {
  background-color: #18624c;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  color: white;
  line-height: 0px;
  padding-bottom: 5px;
  margin-right: 20px;
}

.start-button:hover {
  background-color: white;
  color: green;
  transition: 0.5s;
}
.button-main-container {
  display: flex;

  width: 300px;
  margin-top: 30px;
  align-items: center;
}

.learn-button {
  font-weight: 700;
  color: #d0d0d0;
}

.learn-button:hover {
  font-size: 15px;
  transition: 0.5s ease all;
  cursor: pointer;
}

.about-us {
  background-color: black;
}

.aboutus-container {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.partner-title {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}
.partner-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

  margin: auto;
}

.partner-logo img {
  margin-right: 40px;
}
.partner-title span {
  color: #18624c;
}

.about-content {
  margin-top: 150px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rounded-earth {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.rounded-earth svg {
  height: 100%;
  width: 50%;
}

.about-title {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-top: 20px;
  max-width: 250px;
}
.about-desc {
  font-size: 15px;
  font-weight: 500;
  color: #d0d0d0;
  margin-top: 20px;
  max-width: 350px;
  line-height: 30px;
}

.vertical-line {
  border-left: 4px solid #d0d0d0;
  height: 250px;
}

.active-user .number {
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin-top: 20px;
  max-width: 250px;
}
.number span {
  color: #18624c;
}

.active-user .active-title {
  font-size: 20px;
  font-weight: 500;
  color: #d0d0d0;

  max-width: 350px;
  line-height: 30px;
}
/* responsive */

@media screen and (max-width: 840px) {
  .right-content {
    display: none;
  }
  .navbar {
    padding: 30px;
  }

  .nav-links {
    display: none;
  }
  .customer-support {
    display: none;
  }
  .partner-logo {
    overflow-x: auto;
  }
  .main-section {
    padding-top: 1%;
  }

  .vertical-line {
    display: none;
  }
  .about-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 70px;
  }
  @keyframes samping {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-150px);
    }
  }
  .partner-logo img {
    animation: samping 5s infinite linear;
  }
  .partner-logo::-webkit-scrollbar {
    display: none;
  }
}
.powerful {
  background-color: #b6dbd0;
  padding-top: 50px;
  padding-bottom: 80px;
}
.powerful-container {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.teks {
  width: 50vw;
  resize: both;
  max-width: 70vw;
  max-height: 100vh;
  font-weight: 700;
  animation: fill-up both linear;
  animation-timeline: --section;
  animation-range: cover;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .teks {
    width: 90vw;
  }
}
@property --progress {
  initial-value: 0;
  syntax: "<number>";
  inherits: true;
}

.teks > span {
  outline-color: hsl(10 80% 50%);
  outline-offset: 1ch;
  font-size: clamp(3rem, 4vw + 1rem, 10rem);
  color: var(--color);
  text-decoration: none;
  background-image:
		/* First one is the highlight */ linear-gradient(
      90deg,
      transparent calc(100% - 8ch),
      var(--accent) calc(100% - 8ch)
    ),
    linear-gradient(90deg, var(--fill), var(--fill)),
    linear-gradient(90deg, var(--underline-color), var(--underline-color));
  background-size: var(--underline-block-width) var(--underline-width),
    var(--underline-block-width) var(--underline-width),
    100% var(--underline-width);
  background-repeat: no-repeat;
  background-position-x: calc(
      (var(--underline-block-width) * -1) +
        (var(--progress) * var(--underline-block-width) * 1)
    ),
    calc(
      (var(--underline-block-width) * -1) +
        (var(--progress) * var(--underline-block-width) * 1)
    ),
    0;
  background-position-y: 100%;
  color: tranparent;
  -webkit-background-clip: text;
  animation: color-in both linear;
  animation-timeline: --section;
  animation-range: cover 65% cover 100%;
  animation-delay: 0.5s;
}

section {
  view-timeline-name: --section;
}

@keyframes fill-up {
  to {
    --progress: 1;
  }
}

@keyframes color-in {
  to {
    color: var(--finish-fill);
  }
}

.powerful-subteks {
  font-size: 20px;
  font-weight: 500;
  color: #4a4a4a;
  margin-top: 20px;
  max-width: 350px;
  line-height: 30px;
}

.powerful-main-box {
  width: 100%;
  background-color: #201e1e;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.left-powerful {
  width: 50%;
  display: flex;
  flex-direction: column;

  padding-left: 50px;
}

.rounded-light {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.rounded-light svg {
  width: 50%;
  height: 100%;
}

.transaksi-text {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin-top: 20px;
  max-width: 250px;
  line-height: 70px;
}

.transaksi-desc {
  font-size: 15px;
  font-weight: 500;
  color: #d0d0d0;
  margin-top: 20px;
  max-width: 350px;
  line-height: 30px;
}

.transaksi-subdesc {
  font-size: 10px;
  font-weight: 500;
  color: #4a4a4a;
  margin-top: 20px;
  max-width: 350px;
  line-height: 10px;
}

.right-powerful img {
  position: absolute;
  right: 50px;
  bottom: 0;
}

@media screen and (max-width: 950px) {
  .powerful-main-box {
    width: 100%;
    flex-direction: column;
  }
  .right-powerful img {
    display: none;
  }
}

.powerful-group {
  display: flex;
  margin-top: 20px;
}

.powerful-first {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #18624c;
  border-radius: 30px;
  margin-right: 10px;
  padding-bottom: 30px;
}
.powerful-second {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #dfe8e5;
  border-radius: 30px;
  padding-bottom: 30px;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.powerful-card-title {
  font-size: 50px;
  font-weight: 700;
  color: white;

  max-width: 300px;
  line-height: 50px;
}

.powerful-card-content {
  padding-left: 40px;
}

.powerful-card-subtitle {
  font-size: 15px;
  font-weight: 500;
  color: #d1d1d1;
  margin-top: 20px;
  max-width: 300px;
  line-height: 20px;
}

@media screen and (max-width: 850px) {
  .powerful-group {
    flex-direction: column;
  }
  .powerful-first {
    width: 100%;
    margin-bottom: 20px;
  }
  .powerful-second {
    width: 100%;
  }
}
