@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Darker Grotesque", sans-serif;
}

.navbar-container {
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
}

.tbank-logo {
  display: flex;
  align-items: center;
  color: white;
}

.nav-button {
  display: flex;
}

.main-logo {
  font-weight: 700;
  font-size: 30px;
  margin-right: 10px;
}

.nav-links span {
  font-weight: 500;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

.nav-button {
  display: flex;
  align-items: center;
}
.customer-support {
  font-weight: 500;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

.login-button {
  background-color: black;
  border: 1px solid white;
  padding: 15px 30px;
  border-radius: 30px;

  font-size: 15px;
  cursor: pointer;
  color: white;
  line-height: 0px;
  padding-bottom: 18px;
}
.main-section {
  padding-top: 100px;
  padding-bottom: 90px;
  background-color: black;
}
.main {
  display: flex;
  padding: 50px;
  justify-content: space-around;
}

.main-title {
  font-size: 50px;
  font-weight: 700;
  max-width: 400px;
  line-height: 80px;
  color: white;
}

.financial {
  background-color: #18624c;
  line-height: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.sub-title {
  font-size: 20px;
  font-weight: 700;
  max-width: 300px;
  line-height: 30px;
  margin-top: 15px;
  color: rgb(216, 213, 213);
}

.start-button {
  background-color: #18624c;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  color: white;
  line-height: 0px;
  padding-bottom: 5px;
  margin-right: 20px;
}

.button-main-container {
  display: flex;

  width: 300px;
  margin-top: 30px;
  align-items: center;
}

.learn-button {
  font-weight: 700;
  color: #d0d0d0;
}

.about-us {
  background-color: black;
}

.aboutus-container {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}
.partner-title {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}
.partner-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

  margin: auto;
}

.partner-logo img {
  margin-right: 40px;
}
.partner-title span {
  color: #18624c;
}

.about-content {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rounded-earth {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.rounded-earth svg {
  height: 100%;
  width: 50%;
}

.about-title {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-top: 20px;
  max-width: 250px;
}
.about-desc {
  font-size: 15px;
  font-weight: 500;
  color: #d0d0d0;
  margin-top: 20px;
  max-width: 350px;
  line-height: 30px;
}

.vertical-line {
  border-left: 4px solid #d0d0d0;
  height: 250px;
}

.active-user .number {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-top: 20px;
  max-width: 250px;
}
.number span {
  color: #18624c;
}

.active-user .active-title {
  font-size: 15px;
  font-weight: 500;
  color: #d0d0d0;

  max-width: 350px;
  line-height: 30px;
}
/* responsive */

@media screen and (max-width: 840px) {
  .right-content {
    display: none;
  }

  .nav-links {
    display: none;
  }
  .customer-support {
    display: none;
  }
  .partner-logo {
    overflow-x: auto;
  }
  .main-section {
    padding-top: 1%;
  }

  .vertical-line {
    display: none;
  }
  .about-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  @keyframes samping {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-150px);
    }
  }
  .partner-logo img {
    animation: samping 5s infinite linear;
  }
  .partner-logo::-webkit-scrollbar {
    display: none;
  }
}
